<div ng-controller="Umbraco.Editors.Content.RestoreController" ng-cloak>
	<div class="umb-dialog-body">
		<umb-pane>

		    <umb-load-indicator
		        ng-if="loading">
		    </umb-load-indicator>

		    <p class="abstract" ng-hide="loading || error != null || info != null || success == true">
                <localize key="actions_restore">Restore</localize> <strong>{{currentNode.name}}</strong> <localize key="general_under">under</localize> <strong>{{target.name}}</strong>?
            </p>

		    <div class="alert alert-error" ng-show="error != null">
		        <div><strong>{{error.errorMsg}}</strong></div>
		        <div>{{error.data.Message}}</div>
		    </div>

		    <div ng-show="info != null">
		        <div class="alert alert-info">
		            <div><strong>{{info.errorMsg}}</strong></div>
		            <div>{{info.data.Message}}</div>
		        </div>
		        <button class="btn" ng-show="moveAction" ng-click="move()"><localize key="general_move">Move</localize></button>
		    </div>


		    <div class="alert alert-success" ng-show="success == true">
				<p><strong>{{currentNode.name}}</strong> <localize key="editdatatype_wasMoved">was moved underneath</localize> <strong>{{target.name}}</strong></p>
				<button class="btn btn-primary" ng-click="nav.hideDialog()"><localize key="general_ok">OK</localize></button>
			</div>

		</umb-pane>
	</div>

	<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="loading || success == true">
		<a class="btn btn-link" ng-click="nav.hideDialog()"><localize key="general_cancel">Cancel</localize></a>
		<button class="btn btn-primary" ng-click="restore()" ng-show="info == null && error == null"><localize key="actions_restore">Restore</localize></button>
	</div>
</div>
